swagger: "2.0"
info:
  description: "Ceci est ma super API pour remplacer Amazon"
  version: "1.0.0"
  title: "e-commerce API"
host: "commerce.io"
basePath: "/v1"
schemes:
- "https"
produces:
  - application/json
consumes: 
  - application/json
## Afficahge des produits  
paths:
  /:
    get:
      tags:
      - "Customer"
      summary: "Accueil bons plans"
      description: "Affiche bons plans"
      parameters:
        - in: path
          name: iduser
          type: integer
          required: true
          description: "Considèrons que user est déjà connecté"
      responses:
        200:
          description: "successful"
  /findandsort:
    get:
      tags:
      - "Product"
      summary: "recherche des articles et également pouvoir trier par prix"
      description: "rechercher et trier"
      operationId: "findproducts"
      parameters:
        - in: query
          name: productname
          type: string
          description: "rechercher par nom"
        - in: query
          name: sort
          type: integer
          minimum: 0
          maximum: 1
          description: "trier par prix (0 croissant/1 décroissant)"  
      responses:
        200:
          description: "successful"
  /products/{category}: 
    get:
      tags:
      - "Product"
      summary: "Résultats par catégories"
      description: "Affiche résultat par catégories"
      parameters:
      - in: path
        name: category
        type: integer
        required: true
      responses:
        200:
          description: "ok" 
  /products/{id}/detail:
    get:
      tags:
      - "Product"
      summary: "Détails produit"
      description: "Affiche détails produit"
      parameters:
      - in: path
        name: id
        type: integer
        required: true
      responses:
        200:
          description: "successful"
          
## Gestion du Panier

  /shoppingcart:
    post:
      tags:
      - "ShoppingCart"
      summary: "Ajout dans le panier"
      description: "Considérons que le user est déjà connecter. On sait que chaque user à un panier" 
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ProductinCart"
      responses:
        200:
          description: "successful"
    delete:
      tags: 
      - "ShoppingCart"
      summary: "Supprimer du panier"
      description: "Considérons que le user est déjà connecter. On sait que chaque user à un panier"
      parameters:
      - in: query
        name: id
        type: integer
        required: true
      responses:
        200:
          description: "successful"  
    put:
      tags: 
      - "ShoppingCart"
      summary: "Modifier du panier"
      description: "Considérons que le user est déjà connecter. On sait que chaque user à un panier"
      parameters:
      - in: query
        name: id
        type: integer
        required: true
      - in: query
        name: quantity
        type: integer
        minimum: 1
        required: true
      responses:
        200:
          description: "successful"   
          
  /shoppingcart/clean:
    delete:
      tags: 
      - "ShoppingCart"
      summary: "Vider du panier"
      description: "Considérons que le user est déjà connecter. On sait que chaque user à un panier"
      parameters:
      - in: query
        name: iduser
        type: integer
        required: true
      responses:
        200:
          description: "successful"  
            
            
            
definitions:

  Product:
    type: object
    properties:
      ref:
        type: integer
      productname:
        type: string
      price:
        type: number
        format: double
      description:
        type: string
      picture:
        type: string
      dimension:
        type: string  
      category:
        $ref: "#/definitions/Category"  
    required:
      - ref
      - productname
      - price
      - picture
      - category
      
  Category:
    type: object
    properties:
      idcategory:
        type: integer
      categoryname:
        type: string
    required: 
    - idcategory
    - categoryname
    
  Customer:
    type: object
    properties:
      idcustomer:
        type: integer
      fname:
        type: string
      lname:
        type: string  
      adress:
        type: string
      email:
        type: string    
      phone:
        type: string     
    required: 
    - idcustomer
    - fname
    - lname  
    - adress  
    - email  
    
  Shoppingcart:
    type: object
    properties:  
      idshoppingcart:
        type: integer
      date:
        type: string
        format: date
      shippingdate:
        type: string 
        format: date
      products:
        type: array
        items:
          $ref: "#/definitions/ProductinCart" 
      cost:
        type: number
        format: double
    required: 
    - idshoppingcart
    - date
    - shippingdate
    - products  
    - cost
    
  ProductinCart:
    type: object
    properties:  
      id:
        type: integer
      name:
        type: string
      picture:
        type: string
      quantity: 
        type: string
      unitcost:
        type: integer
      totalcoas:
        type: number
        format: double
        
  Order:
    type: object
    properties:  
      id:
        type: integer
      status:
        type: string
        enum:
          - En cours
          - Validée
          - Terminée
          - Annulée
      date:
        type: string
        format: date
      update:
        type: string
        format: date
      customer:
        $ref: "#/definitions/Customer" 
      totalcost:
        type: number
        format: double
      products:
        type: array
        items:
          $ref: "#/definitions/ProductinCart"   
        
      
      
    
    
        
  